*
{
    font-family: sans-serif;
    margin: 0;
}
.img1
{
    width: 100%;
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./imges/uae-4-2048x1367 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.button1
{
    color: white;
    background-color: rgba(7, 175, 145, 1);
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
}
.divP
{
    color: white;
    display: flex;
    gap: 30px;
}
.div-glavni
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.h1zapustit
{
    color: white;
    width: 440px;

}
.p-otcrit
{
    color: white;
    font-size: 20px;
}
.button2
{
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    width: 150px;
    background-color: rgba(1, 108, 168, 1);
}
.div-h1-p-but
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    margin-left: 170px;
    top: 70px;
}   
.red
{
    width: 70%;
    height: 700px;
    margin: auto;
    /* border: 2px solid. red; */
    margin-top: 50px;
}
.p-naw-uslug
{
    font-size: 20px;
    color: rgba(17, 120, 178, 1);
}
.h6analiticheskoe
{
    color: rgba(17, 120, 178, 1);

    /* color: ; */
}
.P-odnim
{
    width: 370px;
    color: gray;
}
.button3
{
    padding: 10px;
    background-color: rgba(7, 175, 145, 1);
    color: white;
    border-radius: 10px;
    border: none;
    width: 150px;
}
.div-text
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 30px;
}
.div-glavni-flex
{
    display: flex;
    justify-content: space-around;
}
.img-sourch
{
    width: 400px;
}
.red2
{
    width: 70%;
    height: 350px;
    /* border:  2px solid red; */
    margin: auto;
    margin-top: 50px;
}
.P-dlya
{
    color: rgba(17, 120, 178, 1);
    padding: 20px;
}
.cont
{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.h01
{
    color: rgba(17, 120, 178, 0.5);
    /* margin: auto; */
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.h4IT
{
    text-align: center;
}
.PIt
{
    color: gray;
    text-align: center;
    /* width: 200px; */
}
.div-cont
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.bac-img
{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./imges/startup 3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.h1-bac-img
{
    font-weight: 900;
    width: 1100px;
    color: white;
    text-align: center;
    margin: auto;
    background-color: rgba(7, 175, 145, 1);
    /* padding-top/: 100px; */
    position: relative;
    top: 100px;
}
.p-komanda
{
    color: white;
    text-align: center;
    padding-top: 140px;
}
.button4
{
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(97, 181, 228, 1);
    /* margin: aut/o; */
    /* justify-content: center; */
    /* width: 200px; */
    margin-left: 700px;
    margin-top: 50px;
}
.red3
{
    width: 70%;
    height: 500px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 50px;
}
.h1-ctakim
{
    color: rgba(17, 120, 178, 1);

}
.button1-5
{
   padding: 20px;
   background-color: rgba(136, 187, 216, 1);
   color: white;
   border: 1px solid gray; 
    width: 200px;
}
.div-button
{
    display: flex;
    /* padding: 100px; */
}
.bac-img2
{
    width: 100%;
    height: 300px;
    background-image: url("./imges/Vector (10).png");
}
.h1-chem
{
    width: 300px;
}
.p-OAE
{
    color: gray;
    width: 250px;
}
.button9
{
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(97, 181, 228, 1);
    color: white;
}
.div-qatar
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.gr744
{
    width: 400px;
}
.div-glavni-qatar
{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.fatima
{
    width: 190px;
}
.red4
{
    width: 70%;
    height: 950px;
    margin: auto;
    margin-top: 50px;
    /* border:  2px solid red;//? */
}
.contener
{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
}
.img-3
{
    padding: 20px;
    width: 60px;
    margin-left: 70px ;
}
.div-flex-contener
{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.vidio
{
    width: 100%;
    margin-top: 50px;
}
.red5
{
    width: 70%;
    height: 1030px;
    /* border: 2px solid red; */
    margin: auto;
}
.h1-programma
{
    color: rgba(17, 120, 178, 1);
}
.border
{
    width: 100%;
    height: 320px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    margin-top: 30px;
}
.P-galochka
{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 500px;
    /* justify-content: space-between; */
}
.P-modul
{
    color: rgba(42, 121, 194, 1);

}
.xat
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.595);
}
.galochka-maydash
{
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    margin-top: 20px;
}
.g1017
{
    width: 30px;
}
.div-text-galochka
{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.button10
{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(97, 181, 228, 1);
    color: white;
    margin-top: 30px;
}
.bac-img3
{
    width: 100%;
    height: 300px;
    background-image: url("./imges/Group 796.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
}
.h1popadite
{
    color: white;
    width: 500px;
}
.Ppopadite
{
    color: white;
    width: 400px;
}
.cnimok
{
    width: 400px;
}
.div-cnimok
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.red6
{
    width: 70%;
    height: 600px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 50px;
}
.cont2
{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.h1-0101
{
    font-size: 70px;
    color: rgba(17, 120, 178, 0.5);
    font-weight: 900;
    text-align: center;
}
.p-grey
{
    width: 240px;
    color: gray;
    text-align: center;
}
.div-fl-cont2
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.secshn12
{
    width: 70%;
    height: 700px;
    /* border: 2px solid red; */
    margin: auto;

}
.con3
{
    width: 270px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.srcvector
{
    padding: 20px;
    margin-left: 80px ;
    /* text-align: center; */
}
.h3-analiz
{
    text-align: center;    
}
.xat2
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.242);
}
.div-row-txt p
{
    color: gray;
    font-size: 20px;
}
.div-row-txt
{
    padding: 10px;
}
.button12
{
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    margin-left: 30px ;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(97, 181, 228, 1);
}
.div-con3-flex
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.red7
{
    width: 70%;
    height: 400px;
    /* border: 2px solid red; */
    margin: auto;

}
.img-kto-mi
{
    width: 400px;
}
.p-span
{
    width: 300px;
    color: gray;
}
.div-flex-span
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.red8
{
    width: 70%;
    height: 500px;
    /* border:  2px solid red; */
    margin: auto;
}
.bacha
{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.img-bacha
{
    width: 260px;
}
.p-daroz
{
    color: gray;
    width: 430px;
}
.div-txt-bacha
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-odamo
{
    width: 100%;
    margin-top: 50px;
}
@media (max-width:510px) {
    .divP
    {
        display: none;
    }
    .h1zapustit
    {
        width: 90%;
    }
    .div-h1-p-but
    {
        position: relative;
        right: 100px;
        /* text-align: center; */
    }
    .div-glavni-flex
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 30px;
    }.img-sourch
{
    width: 90%;
}
.P-odnim
{
    width: 100%;
    text-align: center;
}
.button3
{
    width: 90%;
}
.h6analiticheskoe
{
    text-align: center;
}
.red2
{
    margin-top: 600px;
    height: 800px;
    width: 90%;
}
.div-cont
{
    flex-wrap: wrap;
    row-gap: 30px;
}
.cont
{
    width: 80%;
}
.bac-img
{
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}
.h1-bac-img
{
    width: 90%;
    text-align: center;

}
.button4
{
    /* position: relative; */
    /* right: 670px; */
    /* width: 90%; */
    display: none;
}
.red3
{
    width: 90%;
}
.h1-ctakim
{
    text-align: center;
}
.fatima
{
    display: none;
}
.div-glavni-qatar
{
    flex-wrap: wrap;
}
.gr744
{
    width: 100%;
}
.red3
{
    height: 700px;
}
.red4
{
    height: 1140px;
    width: 97%;

}
.div-flex-contener
{
    flex-wrap: wrap;
    row-gap: 30px;
}
.contener
{
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}
.img-3
{
    width: 50px;
    height: 50px;
    /* padding: 40px; */
}
.red5
{
    width: 90%;
    height: 1240px;
}
.border
{
    height: 500px;
}
.media
{
    width: 100px;
}
.none
{
    display: none;
}
.h4media
{
    font-size: 10px;
}
.bac-img3
{
    width: 99,9%;
    height: 500px;
}
.div-cnimok
{
    flex-wrap: wrap;
}
.cnimok
{
    /* display: none; */
    width: 90%;
}
.h1popadite
{
    width: 97%;
    text-align: center;
}
.Ppopadite
{
    text-align: center;
}
.button11
{
    width: 99%;
}
.red6
{
   width: 95%;
    height: 1550px;
}
.div-fl-cont2
{
    flex-wrap: wrap;
    row-gap: 30px;
}
.cont2
{
    width: 90%;
}
.p-grey
{
    margin: auto;
    text-align: center;
}
.secshn12
{
    width: 97%;
    height: 1700px;
}
.con3
{
    width: 90%;
}
.div-con3-flex
{
    flex-wrap: wrap;
    row-gap: 30px;
}
.red7
{
    height: 550px;
    width: 99%;
}
.div-flex-span
{
    flex-wrap: wrap;

}
.p-span
{
    width: 90%;
    text-align: center;
    margin: auto;
}
.red8
{
    width: 99%;
    height: 600px;
}
.bacha
{
    height: 500px;
    /* width: 90%; */
}
.div-txt-bacha
{
    flex-wrap: wrap;
    row-gap: 30px;
}
}